@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4"><br /><br />Bienvenido <br /> Control de Alumnos<br /></h1>
    <p>Mas sobre <a href="https://docs.microsoft.com/aspnet/core">Realizado con Web apps ASP.NET Core</a>.</p>
</div>
